@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

header ul li {
  font-size: 18px;
  font-weight: 600;
}

footer {
  height: 374px;
  width: auto;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px;
  background-color: #747f82;
  color: #f2f2f7;
}

footer .footer__logo {
  margin-bottom: 11px;
  width: 77px;
  height: 37px;
}

footer .footer__enunciado {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .footer__parrafo {
  margin: 7px 130px 24px 0px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

footer .footer__infoContacto {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .footer__infoContacto--hr {
  margin: 8px 0px 17px 0px;
  width: 90px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

footer .footer__infoContacto--whatsapp {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .footer__redes {
  margin: 11px 0px 16px 0px;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

footer .redesFooter {
  width: 35px;
  height: 35px;
  margin-right: 22px;
}

#logo {
  height: 41px;
  width: 85px;
}

.header__logoWhatsapp {
  width: 30px;
  height: 30px;
}

#nosotros__presentación {
  height: 320px;
  margin-top: 48px;
  background-color: #db504a;
}

#nosotros__presentación #nosotros__imagenPresentación {
  display: none;
}

#nosotros__presentación #nosotros__presentación--enunciado {
  padding: 88px 35px 32px 35px;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #f2f2f7;
}

#nosotros__presentación #nosotros__presentación--hr {
  margin: 0px 0px 88px 35px;
  width: 148px;
  background-color: #f2f2f7;
  border: 1px solid #f2f2f7;
}

#nosotros__imagen {
  margin: 48px 35px 24px 35px;
  width: 358px;
  height: 214px;
  background-color: #c4c4c4;
}

#nosotros__parrafo {
  margin: 0px 35px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
}

#nosotros__recuadro--imagen {
  display: none;
}

#nosotros__recuadro {
  margin: 32px 0px;
  padding: 56px 35px;
  background-color: #f2f2f7;
}

#nosotros__recuadro #nosotros__quote {
  font-size: 23px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #333333;
}

#nosotros__imagen2 {
  margin-left: 35px;
  width: 358px;
  height: 214px;
}

#nosotros__parrafo2 {
  margin: 24px 35px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
}

#nosotros__botonProductos {
  margin-left: 130px;
  width: 169px;
  height: 32px;
  background-color: #414141;
  color: #f2f2f7;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

#nosotros__imagen2--desktop {
  display: none;
}

#contacto {
  margin-top: 48px;
  padding: 35px;
  color: #f2f2f7;
  background-color: #479db5;
}

#contacto #contacto__imagen {
  display: none;
}

#contacto #contacto__enunciado {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
}

#contacto #contacto__hr {
  width: 148px;
  border: 1px solid #f2f2f7;
}

#ubicacion {
  width: 357px;
  height: 328px;
  margin: 35px;
}

#contacto__formulario {
  margin-left: 35px;
}

#contacto__formulario .contacto__formulario--etiqueta {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

#contacto__formulario .contacto__formulario--input {
  width: 348px;
  height: 21px;
  background-color: #e5e5ea;
  border: none;
}

#contacto__formulario--hr {
  margin-left: 35px;
  width: 348px;
  border: 1px solid #000000;
}

#contacto__formaDePago {
  margin: 8px 35px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

#contacto__parrafo {
  margin: 8px 35px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
}

#contacto__redes {
  margin: 16px 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.contacto__logos {
  margin-left: 35px;
  height: 26.89px;
  width: 26.89px;
  background-color: #dadada;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #logo {
    height: 57px;
    width: 118px;
  }
  .header__logoWhatsapp {
    width: 40px;
    height: 40px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 208px;
    margin-top: 32px;
    padding-top: 0px;
    padding-bottom: 45px;
  }
  footer .footer__logo {
    width: 142px;
    height: 72px;
    margin: 0px 30px 35px 50px;
  }
  footer .footer__enunciado {
    font-size: 12px;
    line-height: 16px;
  }
  footer .footer__parrafo {
    width: 223px;
    margin-right: 20px;
    font-size: 11px;
    line-height: 15px;
  }
  footer .footer__infoContacto {
    font-size: 12px;
    margin-bottom: 0px;
  }
  footer .footer__infoContacto--hr {
    margin: 0px;
  }
  footer .footer__infoContacto--whatsapp {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  footer .footer__redes {
    margin: 0px;
    font-size: 12px;
    line-height: 28px;
  }
  footer .redesFooter {
    width: 23px;
    height: 23px;
    margin-top: 8px;
    margin-right: 17px;
  }
  #nosotros__presentación {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 48px 30px 0px 30px;
  }
  #nosotros__presentación #nosotros__imagenPresentación {
    display: block;
  }
  #nosotros__presentación #nosotros__presentación--enunciado {
    padding-right: 110px;
    padding-bottom: 12px;
    font-size: 30px;
    line-height: 35px;
  }
  #nosotros__presentación #nosotros__presentación--hr {
    margin: 0px 0px 88px 35px;
    width: 310px;
  }
  .nosotrosArticle {
    margin: 18px 35px 24px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nosotrosArticle #nosotros__imagen {
    width: 408px;
    height: 264px;
  }
  .nosotrosArticle #nosotros__parrafo {
    font-size: 16px;
    line-height: 22px;
  }
  #nosotrosRecuadro {
    position: relative;
    height: 280px;
    margin: 85px 30px 0px 30px;
  }
  #nosotrosRecuadro #nosotros__recuadro--imagen {
    display: block;
    position: absolute;
    margin: 80px;
    bottom: 0%;
    z-index: 3;
  }
  #nosotrosRecuadro #nosotros__recuadro {
    position: absolute;
    bottom: 30%;
    z-index: 1;
    margin: 0px;
    padding: 52px 85px 48px 305px;
    background-color: #cbffee;
  }
  #nosotrosRecuadro #nosotros__recuadro #nosotros__quote {
    font-size: 27px;
    line-height: 38px;
  }
  #nosotros__imagen2 {
    display: none;
  }
  #nosotros__parrafo2 {
    margin: 24px 35px;
    font-size: 16px;
    line-height: 22px;
  }
  #nosotros__botonProductos {
    margin-left: 35px;
    width: 200px;
  }
  #nosotros__imagen2--desktop {
    display: block;
    width: 408px;
    height: 264px;
  }
  #contacto {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 48px 30px 0px 30px;
    padding: 5px 20px 0px 110px;
  }
  #contacto #contacto__imagen {
    display: block;
  }
  #contacto div {
    padding: 112px 110px;
  }
  #contacto div #contacto__enunciado {
    font-size: 30px;
    line-height: 35px;
  }
  #contacto div #contacto__hr {
    width: 310px;
  }
  #contacto__section {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  #contacto__section #ubicacion {
    width: 430px;
    height: 388px;
    margin-left: 100px;
  }
  #contacto__section #contacto__formulario {
    margin: 88px 20px 5px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto__section #contacto__formulario .contacto__formulario--etiqueta {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 30px;
  }
  #contacto__section #contacto__formulario .contacto__formulario--input {
    width: 430px;
    height: 32px;
  }
  #contacto__section #contacto__formulario--hr {
    margin-left: 0px;
    margin-bottom: 32px;
    width: 430px;
  }
  #contacto__section #contacto__formaDePago {
    margin: 8px 88px 8px 0px;
    font-size: 16px;
    line-height: 22px;
  }
  #contacto__section #contacto__parrafo {
    margin: 8px 100px 8px 0px;
    font-size: 16px;
    line-height: 22px;
  }
  #contacto__section #contacto__redes {
    margin: 16px 0px;
    font-size: 18px;
    line-height: 28px;
  }
}

@media only screen and (min-width: 1024px) {
  /*   //General
  #logo {
    height: 87px;
    width: 196px;
  }
  .header__logoWhatsapp{
    width: 40px;
    height: 40px;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 85px;
    .footer__logo {
      width: 196px;
      height: 87px;
      margin-left: 70px;
      margin-right: 100px;
    }
    .footer__enunciado {
      font-size: 18px;
    }
    .footer__parrafo {
      width: 280px;
      margin-right: 70px;

      font-size: 14px;
      line-height: 20px;
    }
    .footer__infoContacto {
      font-size: 20px;
    }
    .footer__infoContacto--whatsapp {
      font-size: 18px;
    }
    .footer__redes {
      font-size: 16px;
    }
  }
  
  //Nosotros
  #nosotros__presentación {
    display: inline-flex;
    margin: 48px 30px 0px 30px;
    #nosotros__imagenPresentación {
      display: block;
    }
    #nosotros__presentación--enunciado {
      padding-right: 110px;
      padding-bottom: 12px;

      font-size: 30px;
      line-height: 35px;
    }
    #nosotros__presentación--hr {
      margin: 0px 0px 88px 35px;
      width: 310px;
    }
  }

  .nosotrosArticle {
    margin: 18px 35px 24px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    #nosotros__imagen {
      width: 408px;
      height: 264px;
    }
    #nosotros__parrafo {
      font-size: 16px;
      line-height: 22px;
    }
  }

  #nosotrosRecuadro {
    position: relative;
    height: 280px;
    margin: 85px 30px 0px 30px;
    #nosotros__recuadro--imagen {
      display: block;
      position: absolute;
      margin: 80px;
      bottom: 0%;
      z-index: 3;
    }
    #nosotros__recuadro {
      position: absolute;
      bottom: 30%;
      z-index: 1;
      margin: 0px;
      padding: 52px 85px 48px 305px;

      background-color: #cbffee;
      #nosotros__quote {
        font-size: 27px;
        line-height: 38px;
      }
    }
  }

  #nosotros__imagen2 {
    display: none;
  }

  #nosotros__parrafo2 {
    margin: 24px 35px;

    font-size: 16px;
    line-height: 22px;
  }

  #nosotros__botonProductos {
    margin-left: 35px;
    width: 200px;
  }

  #nosotros__imagen2--desktop {
    display: block;
    width: 408px;
    height: 264px;
  }

  //Contacto
  #contacto {
    display: inline-flex;
    margin: 48px 30px 0px 30px;
    padding: 5px 20px 0px 110px;
    #contacto__imagen {
      display: block;
    }
    div {
      padding: 112px 110px;
      #contacto__enunciado {
        font-size: 30px;
        line-height: 35px;
      }
      #contacto__hr {
        width: 310px;
      }
    }
  }

  #contacto__section{
    display: inline-flex;
    #ubicacion {
      width: 430px;
      height: 388px;
      margin-left: 100px;
    }
    #contacto__formulario {
      margin: 88px 20px 5px 0px;
      display: flex;
      flex-direction: column;
      .contacto__formulario--etiqueta {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 22px;
        line-height: 30px;
      }
      .contacto__formulario--input {
        width: 430px;
        height: 32px;
      }
    }
    
    #contacto__formulario--hr {
      margin-left: 0px;
      margin-bottom: 32px;
      width: 430px;
    }
    
    #contacto__formaDePago {
      margin: 8px 88px 8px 0px;

      font-size: 16px;
      line-height: 22px;
    }
    #contacto__parrafo {
      margin: 8px 100px 8px 0px;
    
      font-size: 16px;
      line-height: 22px;
    }
    
    #contacto__redes {
      margin: 16px 0px;
    
      font-size: 18px;
      line-height: 28px;
    }
    
  }
 */
}
/*# sourceMappingURL=style.css.map */