//Variables

//Paleta de colores
$colorPrincipal: #479db5;
$colorSecundario: #747f82;
$colorAcento: #db504a;
$colorComplementario1: #cbffee;
$colorComplementario2: #e3b505;

//General

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

header {
  ul {
    li {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

footer {
  /* height: 374px; */
  width: auto;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  padding: 35px;

  background-color: #747f82;
  color: #f2f2f7;
  .footer__logo {
    margin-bottom: 11px;
    width: 77px;
    height: 37px;
  }
  .footer__enunciado {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
  .footer__parrafo {
    margin: 7px 130px 24px 0px;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }
  .footer__infoContacto {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
  .footer__infoContacto--hr {
    margin: 8px 0px 17px 0px;
    width: 90px;

    background-color: #ffffff;
    border: 1px solid #ffffff;
  }
  .footer__infoContacto--whatsapp {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
  .footer__redes {
    margin: 11px 0px 16px 0px;

    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  .redesFooter {
    width: 32px;
    height: 32px;
    margin-right: 22px;
  }
}

#logo {
  height: 41px;
  width: 85px;
}
.header__logoWhatsapp {
  width: 30px;
  height: 30px;
}

//MEDIA QUERIES

@media only screen and (min-width: 768px) and (max-width: 1023.9px) {
  //General
  #logo {
    height: 57px;
    width: 118px;
  }
  .header__logoWhatsapp {
    width: 40px;
    height: 40px;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 45px;
    .footer__logo {
      width: 142px;
      height: 72px;
      margin: 0px 30px 35px 50px;
    }
    .footer__enunciado {
      font-size: 12px;
      line-height: 16px;
    }
    .footer__parrafo {
      width: 223px;
      margin-right: 20px;

      font-size: 11px;
      line-height: 15px;
    }
    .footer__infoContacto {
      font-size: 12px;
      margin-bottom: 0px;
    }
    .footer__infoContacto--hr {
      margin: 0px;
    }
    .footer__infoContacto--whatsapp {
      margin-top: 8px;
      margin-bottom: 0px;
      font-size: 12px;
    }
    .footer__redes {
      margin: 0px;
      font-size: 12px;
      line-height: 28px;
    }
    .redesFooter {
      width: 23px;
      height: 23px;
      margin-top: 8px;
      margin-right: 17px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  //General
  #logo {
    height: 87px;
    width: 196px;
  }
  .header__logoWhatsapp {
    width: 40px;
    height: 40px;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 85px;
    padding-top: 48px;
    .footer__logo {
      width: 196px;
      height: 87px;
      margin-left: 70px;
      margin-right: 100px;
    }
    .footer__enunciado {
      font-size: 18px;
    }
    .footer__parrafo {
      width: 280px;
      margin-right: 70px;

      font-size: 14px;
      line-height: 20px;
    }
    .footer__infoContacto {
      font-size: 20px;
    }
    .footer__infoContacto--whatsapp {
      font-size: 18px;
    }
    .footer__redes {
      font-size: 16px;
    }
  }
}
