//Variables

//Paleta de colores
$colorPrincipal: #479db5;
$colorSecundario: #747f82;
$colorAcento: #db504a;
$colorComplementario1: #cbffee;
$colorComplementario2: #e3b505;

//Nosotros

#nosotros__presentación {
  margin-top: 48px;
  padding-bottom: 88px;
  background-color: $colorAcento;
  #nosotros__imagenPresentación {
    display: none;
  }
  #nosotros__presentación--enunciado {
    padding: 88px 35px 16px 35px;

    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.02em;

    color: #f2f2f7;
  }
  #nosotros__presentación--hr {
    margin-left: 35px;
    width: 148px;

    background-color: #f2f2f7;
    border: 1px solid #f2f2f7;
  }
}

#nosotros__imagen {
  margin: 48px 19px 24px 23px;
  width: 358px;
  height: 214px;

  background-color: #c4c4c4;
}

#nosotros__imagen--tablet {
  display: none;
}

#nosotros__parrafo {
  margin: 0px 35px;

  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #333333;
}

#nosotros__recuadro--imagen {
  display: none;
}
#nosotros__recuadro {
  margin: 32px 0px;
  padding: 56px 35px;

  background-color: #f2f2f7;
  #nosotros__quote {
    font-size: 23px;
    line-height: 31px;
    letter-spacing: 0.02em;

    color: #333333;
  }
}

#nosotros__imagen2 {
  margin-left: 35px;
  width: 358px;
  height: 214px;
}

#nosotros__parrafo2 {
  margin: 24px 35px;

  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #333333;
}

#nosotros__botonProductos {
  margin-left: 130px;
  width: 169px;
  height: 32px;

  background-color: #414141;
  color: #f2f2f7;
  border: none;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

#nosotros__imagen2--desktop {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023.9px) {
  #nosotros__presentación {
    display: flex;
    margin: 40px 70px 0px 70px;
    padding-bottom: 41px;
    #nosotros__imagenPresentación {
      display: block;
      width: 250px;
      height: 165px;
    }
    #nosotros__presentación--enunciado {
      padding: 55px 90px 8px 25px;

      font-size: 16px;
      line-height: 20px;
    }
    #nosotros__presentación--hr {
      margin-left: 25px;
      width: 125px;
    }
  }

  .nosotrosArticle {
    margin: 18px 55px 24px 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    #nosotros__imagen {
      display: none;
    }
    #nosotros__imagen--tablet {
      display: block;
      margin: 15px;
      width: 379px;
      height: 189px;
    }
    #nosotros__parrafo {
      margin-left: 10px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  #nosotrosRecuadro {
    position: relative;
    height: 96px;
    margin: 85px 70px 0px 70px;
    #nosotros__recuadro--imagen {
      display: block;
      width: 115px;
      height: 144px;
      position: absolute;
      margin: 20px 50px;
      bottom: 0%;
      z-index: 3;
    }
    #nosotros__recuadro {
      position: absolute;
      bottom: 20%;
      z-index: 1;
      margin: 0px;
      padding: 24px 80px 24px 160px;

      background-color: #cbffee;
      #nosotros__quote {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }

  #nosotros__imagen2 {
    display: none;
  }

  #nosotros__parrafo2 {
    margin: 24px 15px;

    font-size: 12px;
    line-height: 16px;
  }

  #nosotros__botonProductos {
    margin-left: 15px;
    width: 118px;
    height: 25px;

    font-size: 14px;
    line-height: 18px;
  }

  #nosotros__imagen2--desktop {
    display: block;
    width: 306px;
    height: 164px;
  }
}

@media only screen and (min-width: 1024px) {
  #nosotros__presentación {
    display: inline-flex;
    margin: 48px 70px 0px 70px;
    #nosotros__imagenPresentación {
      display: block;
    }
    #nosotros__presentación--enunciado {
      padding-right: 110px;
      padding-bottom: 12px;

      font-size: 30px;
      line-height: 35px;
    }
    #nosotros__presentación--hr {
      margin-left: 35px;
      width: 310px;
    }
  }

  .nosotrosArticle {
    margin: 18px 35px 24px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    #nosotros__imagen {
      width: 408px;
      height: 264px;
    }
    #nosotros__imagen--tablet {
      display: none;
    }
    #nosotros__parrafo {
      font-size: 16px;
      line-height: 22px;
    }
  }

  #nosotrosRecuadro {
    position: relative;
    height: 280px;
    margin: 85px 30px 0px 30px;
    #nosotros__recuadro--imagen {
      display: block;
      position: absolute;
      margin: 80px;
      bottom: 0%;
      z-index: 3;
    }
    #nosotros__recuadro {
      position: absolute;
      bottom: 30%;
      z-index: 1;
      margin: 0px;
      padding: 52px 85px 48px 305px;

      background-color: #cbffee;
      #nosotros__quote {
        font-size: 27px;
        line-height: 38px;
      }
    }
  }

  #nosotros__imagen2 {
    display: none;
  }

  #nosotros__parrafo2 {
    margin: 24px 35px;

    font-size: 16px;
    line-height: 22px;
  }

  #nosotros__botonProductos {
    margin-left: 35px;
    width: 200px;
  }

  #nosotros__imagen2--desktop {
    display: block;
    width: 408px;
    height: 264px;
  }
}
