$color: #b6b2b2;

*{
    margin: 0;
    padding: 0;
}

header{
    ul{
        li{
            color: black;
            font-size: large;
            font-weight: 700;
        }
    }
}

#logo{
    margin-left: 20px;
    height: 120px;
    width: 130px;
    background-color: #ebe7e7;
}