@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

header ul li {
  font-size: large;
  font-weight: 700;
}

footer {
  height: 374px;
  width: auto;
  margin-top: 48px;
  padding: 16px 35px 13px 35px;
  background-color: #747f82;
  color: #f2f2f7;
}

footer .footer__logo {
  margin-bottom: 11px;
  width: 77px;
  height: 37px;
}

footer .footer__enunciado {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .footer__parrafo {
  margin: 7px 130px 24px 0px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

footer .footer__infoContacto {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .footer__infoContacto--hr {
  margin: 8px 0px 17px 0px;
  width: 90px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

footer .footer__infoContacto--whatsapp {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .footer__redes {
  margin: 11px 0px 16px 0px;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

footer .redesFooter {
  width: 35px;
  height: 35px;
  margin-right: 22px;
}

footer .footer__hecho {
  margin: 28px 0px 13px 0px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
}

#logo {
  height: 41px;
  width: 85px;
  left: 315px;
  top: 19px;
}

#inicio__carousel {
  margin-top: 48px;
  margin-bottom: 20px;
  padding: 48px 35px;
  color: #414141;
  background-color: #cbffee;
}

#inicio__carousel #inicio__carousel--imagen {
  display: none;
}

#inicio__carousel #inicio__carousel--enunciado {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
}

#inicio__carousel #inicio__carousel--hr {
  width: 148px;
  border: 1px solid #000000;
}

#inicio__carousel #inicio__carousel--parrafo {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

#inicio__LP {
  margin: 0px 35px;
  color: #414141;
}

#inicio__LP #inicio__imagenLP--div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#inicio__LP #inicio__imagenLP--div .inicio__imagenLP--mobile {
  padding-right: 12px;
}

#inicio__LP #inicio__imagenLP--div .inicio__imagenLP--desktop {
  display: none;
}

#inicio__LP #inicio__LP--enunciado {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
}

#inicio__LP #inicio__LP--hr {
  margin-top: 0.5rem;
  width: 197px;
  border: 1px solid #414141;
}

#inicio__LP #inicio__LP--parrafo {
  margin-right: 35px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

#inicio__LP #inicio__LP--boton {
  width: 90px;
  height: 32px;
  background-color: #414141;
  border: none;
}

#inicio__LP #inicio__LP--boton a {
  text-decoration: none;
  color: #f2f2f7;
}

#inicio__clientesDiv--imagenDesktop {
  display: none;
}

#inicio__clientes {
  padding: 35px;
  margin-top: 18px;
  color: #f2f2f7;
  background-color: #747f82;
}

#inicio__clientes #inicio__clientes--enunciado {
  padding-right: 70px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
}

#inicio__clientes #inicio__clientes--hr {
  width: 239px;
  margin-top: 0;
  border: 1px solid #f2f2f7;
}

#inicio__clientes #inicio__clientes--div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#inicio__clientes #inicio__clientes--div #inicio__clientesDiv--imagen {
  margin-right: 10px;
  height: 102px;
  border-radius: 50%;
}

#inicio__clientes #inicio__clientes--div #inicio__clientesDiv--comentarios {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

#inicio__productos {
  margin-left: 35px;
  margin-top: 48px;
}

#inicio__productos #inicio__productos--enunciado {
  margin-bottom: 16px;
  font-size: 21px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #414141;
}

#inicio__productos #inicio__productos--div {
  height: 712px;
  background-color: #f2f2f7;
}

#inicio__apartado {
  padding-bottom: 40px;
  padding-left: 35px;
  background-color: #db504a;
}

#inicio__apartado #inicio__apartado--imagen {
  display: none;
}

#inicio__apartado #inicio__apartado--enunciado {
  color: #f2f2f7;
  margin: 0;
  padding-top: 11px;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 0.02em;
}

#inicio__apartado #inicio__apartado--hr {
  width: 239px;
  margin-top: 0;
  color: #f2f2f7;
  border: 1px solid #f2f2f7;
}

#inicio__apartado #inicio__apartado--parrafo {
  margin-right: 131px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

#inicio__apartado #inicio__apartado--input {
  min-width: 336px;
  margin-bottom: 8px;
  border: none;
  background-color: #f2f2f7;
}

#inicio__apartado #inicio__apartado--boton {
  margin-left: 76px;
  min-width: 200px;
  height: 32px;
  border: none;
  color: #f2f2f7;
  background-color: #414141;
}

#nosotros__imagenPresentación {
  display: none;
}

#nosotros__presentación {
  height: 320px;
  margin-top: 48px;
  background-color: #db504a;
}

#nosotros__presentación #nosotros__presentación--enunciado {
  padding: 88px 35px 32px 35px;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #f2f2f7;
}

#nosotros__presentación #nosotros__presentación--hr {
  margin: 0px 0px 88px 35px;
  width: 148px;
  background-color: #f2f2f7;
  border: 1px solid #f2f2f7;
}

#nosotros__imagen {
  margin: 48px 35px 24px 35px;
  width: 358px;
  height: 264px;
  background-color: #c4c4c4;
}

#nosotros__parrafo {
  margin: 0px 35px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
}

#nosotros__recuadro {
  margin: 32px 0px;
  padding: 56px 35px;
  background-color: #f2f2f7;
}

#nosotros__recuadro #nosotros__recuadro--imagen {
  display: none;
}

#nosotros__recuadro #nosotros__quote {
  font-size: 23px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #333333;
}

#nosotros__imagen2 {
  margin-left: 35px;
  width: 358px;
  height: 264px;
  background-color: #c4c4c4;
}

#nosotros__parrafo2 {
  margin: 24px 35px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
}

#nosotros__botonProductos {
  margin-left: 130px;
  width: 169px;
  height: 32px;
  background-color: #414141;
  color: #f2f2f7;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

#contacto {
  margin-top: 48px;
  padding: 35px;
  color: #f2f2f7;
  background-color: #479db5;
}

#contacto #contacto__enunciado {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
}

#contacto #contacto__hr {
  width: 148px;
  border: 1px solid #f2f2f7;
}

#ubicacion {
  width: 357px;
  height: 328px;
  margin: 35px;
}

#contacto__formulario {
  margin-left: 35px;
}

#contacto__formulario .contacto__formulario--etiqueta {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

#contacto__formulario .contacto__formulario--input {
  width: 348px;
  height: 21px;
  background-color: #e5e5ea;
  border: none;
}

#contacto__formulario--hr {
  margin-left: 35px;
  width: 348px;
  border: 1px solid #000000;
}

#contacto__formaDePago {
  margin: 8px 35px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

#contacto__parrafo {
  margin: 8px 35px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
}

#contacto__redes {
  margin: 16px 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.contacto__logos {
  margin-left: 35px;
  height: 26.89px;
  width: 26.89px;
  background-color: #dadada;
}

@media only screen and (min-width: 1024px) {
  #inicio__carousel {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 48px 70px;
    padding: 0px;
  }
  #inicio__carousel #inicio__carousel--imagen {
    display: block;
    padding-left: 23px;
    width: 369px;
    height: 320px;
  }
  #inicio__carousel #inicio__carousel--divTexto {
    padding: 48px 100px 104px 49px;
  }
  #inicio__carousel #inicio__carousel--divTexto #inicio__carousel--hr {
    width: 310px;
  }
  #inicio__LP {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 69px;
  }
  #inicio__LP #inicio__imagenLP--div .inicio__imagenLP--mobile {
    display: none;
  }
  #inicio__LP #inicio__imagenLP--div .inicio__imagenLP--desktop {
    display: block;
    padding-right: 15px;
    width: 364px;
    height: 376;
  }
  #inicio__LP div #inicio__LP--enunciado {
    padding-top: 37px;
    font-size: 30px;
    line-height: 40px;
  }
  #sectionClientes {
    position: relative;
    height: 310px;
  }
  #sectionClientes #inicio__clientesDiv--imagenDesktop {
    display: inline-block;
    padding-left: 52px;
    position: absolute;
    top: 8.7%;
    z-index: 3;
    width: 257px;
    height: 281px;
  }
  #sectionClientes #inicio__clientes {
    margin: 47px 62px 80px 164px;
    padding: 0px 78px 10px 126px;
    padding-left: 126px;
    position: absolute;
    top: 22%;
    z-index: 1;
  }
  #sectionClientes #inicio__clientes #inicio__clientes--enunciado {
    padding-top: 8px;
    font-size: 30px;
    line-height: 40px;
  }
  #sectionClientes #inicio__clientes #inicio__clientes--div #inicio__clientesDiv--comentarios {
    font-size: 16px;
    line-height: 22px;
  }
  #inicio__productos {
    margin: 80px 70px 48px 70px;
  }
  #inicio__productos #inicio__productos--enunciado {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 40px;
  }
  #inicio__apartado {
    margin: 0px 70px 48px 70px;
    padding-left: 0px;
    padding-bottom: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  #inicio__apartado #inicio__apartado--imagen {
    display: block;
    width: 330px;
    height: 280px;
  }
  #inicio__apartado #inicio__apartado--enunciado {
    padding: 48px 30px 8px 0px;
    font-size: 30px;
  }
  #inicio__apartado #inicio__apartado--parrafo {
    margin-right: 30px;
    font-size: 16px;
    line-height: 22px;
    color: #f2f2f7;
  }
  #inicio__apartado #inicio__apartado--formulario {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 44px;
  }
  #inicio__apartado #inicio__apartado--formulario #inicio__apartado--input {
    height: 31px;
    max-width: 420px;
  }
  #inicio__apartado #inicio__apartado--formulario #inicio__apartado--boton {
    margin-left: 20px;
    margin-right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */