@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

header ul li {
  font-size: large;
  font-weight: 700;
}

footer {
  height: 374px;
  width: auto;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 2180px;
  bottom: 0px;
  background-color: #747f82;
  color: #f2f2f7;
}

footer .footer__logo {
  width: 77px;
  height: 37px;
  position: absolute;
  left: 8.18%;
  right: 73.83%;
  top: 4.28%;
  bottom: 85.83%;
}

footer .footer__enunciado {
  position: absolute;
  left: 8.18px;
  right: 30.77%;
  top: 17.11%;
  bottom: 75.99%;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .footer__parrafo {
  position: absolute;
  left: 8.18%;
  right: 30.37%;
  top: 25.67%;
  bottom: 61.5%;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

footer .footer__infoContacto {
  position: absolute;
  left: 8.18%;
  right: 45.09;
  top: 44.92%;
  bottom: 50.8%;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .footer__infoContacto--hr {
  position: absolute;
  left: 8.18%;
  right: 70.79%;
  top: 47.34%;
  bottom: 48.66%;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

footer .footer__infoContacto--whatsapp {
  position: absolute;
  left: 8.18%;
  right: 19.39%;
  top: 55.88%;
  bottom: 38.77%;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

footer .footer__redes {
  position: absolute;
  left: 8.18%;
  right: 20.09%;
  top: 64.17%;
  bottom: 29.41%;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

footer .footer__hecho {
  position: absolute;
  left: 3.74%;
  right: 7.48%;
  top: 90.64%;
  bottom: 3.48%;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
}

#logo {
  height: 41px;
  width: 85px;
  left: 315px;
  top: 19px;
}

#inicio__carrousel {
  margin-top: 48px;
  margin-bottom: 20px;
  padding: 48px 35px;
  color: #414141;
  background-color: #cbffee;
}

#inicio__carrousel #inicio__carrousel--enunciado {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
}

#inicio__carrousel #inicio__carrousel--hr {
  width: 148px;
  border: 1px solid #000000;
}

#inicio__carrousel #inicio__carrousel--parrafo {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

#inicio__LP {
  margin: 0px 35px;
  color: #414141;
  position: absolute;
  top: 420px;
}

#inicio__LP #inicio__imagenLP--div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#inicio__LP #inicio__imagenLP--div .inicio__imagen--LPremium {
  padding-right: 12px;
}

#inicio__LP #inicio__LP--enunciado {
  /* position: absolute;
    top: 664px; */
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
}

#inicio__LP #inicio__LP--hr {
  /* position: absolute;
    top: 736px; */
  margin-top: 0.5rem;
  width: 197px;
  border: 1px solid #414141;
}

#inicio__LP #inicio__LP--parrafo {
  /* position: absolute;
      top: 744px; */
  margin-right: 35px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

#inicio__LP #inicio__LP--boton {
  width: 90px;
  height: 32px;
  background-color: #414141;
  border: none;
}

#inicio__LP #inicio__LP--boton a {
  text-decoration: none;
  color: #f2f2f7;
}

#inicio__clientes {
  position: absolute;
  top: 896px;
  padding: 35px;
  margin-top: 18px;
  color: #f2f2f7;
  background-color: #747f82;
}

#inicio__clientes #inicio__clientes--enunciado {
  padding-right: 70px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
}

#inicio__clientes #inicio__clientes--hr {
  width: 239px;
  margin-top: 0;
  border: 1px solid #f2f2f7;
}

#inicio__clientes #inicio__clientes--div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#inicio__clientes #inicio__clientes--div #inicio__clientesDiv--imagen {
  margin-right: 10px;
  height: 102px;
  border-radius: 50%;
}

#inicio__clientes #inicio__clientes--div #inicio__clientesDiv--comentarios {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

#inicio__productos {
  position: absolute;
  top: 1232px;
  margin-left: 35px;
}

#inicio__productos #inicio__productos--enunciado {
  margin-bottom: 16px;
  font-size: 21px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #414141;
}

#inicio__productos #inicio__productos--div {
  height: 712px;
  background-color: #f2f2f7;
}

#inicio__apartado {
  padding-bottom: 40px;
  padding-left: 35px;
  position: absolute;
  top: 1945px;
  background-color: #db504a;
}

#inicio__apartado #inicio__apartado--enunciado {
  color: #f2f2f7;
  margin: 0;
  padding-top: 11px;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 0.02em;
}

#inicio__apartado #inicio__apartado--hr {
  width: 239px;
  margin-top: 0;
  color: #f2f2f7;
  border: 1px solid #f2f2f7;
}

#inicio__apartado #inicio__apartado--parrafo {
  margin-right: 131px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

#inicio__apartado #inicio__apartado--input {
  width: 336px;
  margin-bottom: 8px;
}

#inicio__apartado #inicio__apartado--boton {
  margin-left: 76px;
  width: 200px;
  height: 32px;
  border: none;
  color: #f2f2f7;
  background-color: #414141;
}

#nosotros__presentación {
  position: absolute;
  width: 428px;
  height: 320px;
  left: 0px;
  top: 120px;
  background-color: #db504a;
}

#nosotros__presentación #nosotros__presentación--enunciado {
  position: absolute;
  width: 357.52px;
  height: 112px;
  left: 35.48px;
  top: 88px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #f2f2f7;
}

#nosotros__presentación #nosotros__presentación--hr {
  position: absolute;
  width: 147.97px;
  left: 35px;
  top: 232px;
  background-color: #f2f2f7;
  border: 1px solid #f2f2f7;
}

#nosotros__imagen {
  position: absolute;
  width: 358px;
  height: 264px;
  left: 35px;
  top: 488px;
  background-color: #c4c4c4;
}

#nosotros__parrafo {
  position: absolute;
  width: 358px;
  height: 176px;
  left: 35px;
  top: 776px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
}

#nosotros__recuadro {
  position: absolute;
  width: 427px;
  height: 208px;
  left: 0px;
  top: 984px;
  background-color: #f2f2f7;
}

#nosotros__quote {
  position: absolute;
  width: 358px;
  height: 96px;
  left: 35px;
  top: 56px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #333333;
}

#nosotros__imagen2 {
  position: absolute;
  width: 358px;
  height: 264px;
  left: 35px;
  top: 1224px;
  background-color: #c4c4c4;
}

#nosotros__parrafo2 {
  position: absolute;
  width: 358px;
  height: 136px;
  left: 35px;
  top: 1512px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
}

#nosotros__botonProductos {
  position: absolute;
  width: 169px;
  height: 32px;
  left: 130px;
  top: 1672px;
  background-color: #414141;
  color: #f2f2f7;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

#contacto {
  margin-top: 48px;
  padding: 35px;
  background-color: #479db5;
  color: #f2f2f7;
}

#contacto #contacto__enunciado {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.02em;
}

#contacto #contacto__hr {
  width: 148px;
  border: 1px solid #f2f2f7;
}

#ubicacion {
  width: 357px;
  height: 328px;
  margin: 35px;
}

#contacto__formulario {
  margin-left: 35px;
}

#contacto__formulario .contacto__formulario--etiqueta {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

#contacto__formulario .contacto__formulario--input {
  width: 348px;
  height: 21px;
  border: none;
  background-color: #e5e5ea;
}

#contacto__formulario--hr {
  margin-left: 35px;
  width: 348px;
  border: 1px solid #000000;
}

#contacto__formaDePago {
  margin: 8px 35px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

#contacto__parrafo {
  margin: 8px 35px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
}

#contacto__redes {
  margin: 16px 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
/*# sourceMappingURL=style.css.map */