:root {
  --colorPrincipal: #479db5;
  --colorSecundario: #747f82;
  --colorAcento: #db504a;
  --colorComplementario1: #cbffee;
  --colorComplementario2: #e3b505;
}

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.main__container{
  width: 100%;
  max-width: 100%;
  margin: 1rem 0 0 0;
}

.main__container--info{
  width: 100%;
  margin: 2rem auto;
  background-color: var(--colorComplementario2);

}

.--info--container{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.--info-container h2{
  width: 85%;
  padding: 4rem 0 0 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 1.5;
}
.--info-container p{
  width: 85%;
  padding: .5rem 0 4rem 2rem;
  font-size: .8rem;
  line-height: 1.5;
  text-align: justify;
}
hr{
  width: 40%;
  padding: .1rem;
  margin: .5rem 2rem;
  background-color: black;
  color: black;
}
.product-box--filter{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;

}
.product-box--filter--display h2{
  margin-bottom: .3rem;
}
.product-box--filter h3{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 1.5rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #4785FF;

}
.product-box--filter h3 img{
  margin: 0 .2rem;
}
.product-box--filter .product-options,
.product-box--filter .product-options2{
  width: 150px;
  padding: .1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: #f2f2f7;
}
.product-box--filter .product-options2{
  width: 180px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.--products-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.--product-container{
  width: 169px;
  height: 340px;
  margin: .5rem;
}

.main__container--products-box .card-info{
  height: auto;
  margin: 0;
  padding: 0;
}
.main__container--products-box img{
  width: 169px;
  height: 176px;
  margin: 0 auto;
  padding: .4rem;
}
.main__container--products-box .card-id{
  margin: 5px 10px;
  padding: 0;
  height: auto;
  font-size: .7rem;
  font-weight: lighter;
}

.main__container--products-box h5{
  height: 35px;
  margin: 0 10px;
  font-size: .9rem;
  font-weight: bold;
  text-transform: capitalize;
}
.card-info .card-description{
  height: 50px;
  margin: 0 10px;
  font-size: .8rem;
  font-weight: normal;

}
.card-info .card-price{
  margin: 0 10px;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0;
}
.card-info hr{
  width: 90px;
  margin: 10px 0 0 10px;
}
.salient-products{
  background-color: #efefef;
}
.salient-products-title h2{
  margin: 2rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;

}
.card-container-premium{
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: .5rem auto 0 0;

}
.card-container-premium h5{
  margin: 0 .5rem;
  font-weight: bold;
}
.card-container-premium img{
  width: 135px;
  height: 136px;
  grid-column: 1;
}
.card-container-premium .card-info{
  grid-column: 2/3;
  align-self: center;
}
.pagenumbers{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.txt-page{
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}
.btn-page img{
  width: 2rem;
  height: 2rem;
  margin: 0;
}
.next:hover{
  content: url("./assets/right-click.png");
  cursor: pointer;
}
.back:hover{
  content: url("./assets/left-click.png");
  cursor: pointer;
}
footer{
  margin-top: 0;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.visibility{
  visibility: hidden;
}



.premium__container--info{
  display: flex;
  justify-content: center;
  background-color: var(--colorSecundario);
}
.--premium-info{
  padding: 5rem;

}
.--premium-info h2{
  width: 100%;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
}
.--premium-info hr{
  width: 10rem;
  padding: .15rem 0;
  margin: 1rem 0;
  color: #f2f2f7;
  background-color: #f2f2f7;
}
.--cards-premium{
  display: flex;
  width: 900px;
  padding: 3rem 0;
  overflow: auto;
  overscroll-behavior: contain;
  scroll-snap-type: x proximity;
}
.--cards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  max-width: 500px;
  padding: 6rem 0;
  margin: 0 1rem;
  background-color: #414141;
  scroll-snap-align: center;
}
.--cards-container h3{
  width: 85%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .3px;

}
.--product-container-premium-page{
  width: 90%;
  margin: 1rem auto;
  background-color: #fff;
}
.--product-container-premium-page .card-id{
  color: #333333;
  font-size: .8rem;
  font-weight: 300;
}
.--product-container-premium-page .card-info .card-title{
  font-size: 1.1rem;
  font-weight: 700;
  color: #333333;
}
.--product-container-premium-page .card-info .card-description{
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
}
.--product-container-premium-page .card-info .card-price{
  font-size: 1.3rem;
  font-weight: 700;
  color: #333333;
}
.--product-container-premium-page .card-info
.salient-products-premium{
  background-color: #fff;
}
