//Paleta de colores

$colorPrincipal: #479db5;
$colorSecundario: #747f82;
$colorAcento: #db504a;
$colorComplementario1: #78f5cb;
$colorComplementario2: #e3b505;

//General

*{
    margin: 0;
    padding: 0;
}

header{
    ul{
        li{
            font-size: large;
            font-weight: 700;
        }
    }
}

#logo{
    height: 41px;
    width: 85px;
    left: 315px;
    top: 19px;
}


//Nosotros

#nosotros__presentación{
    position: absolute;
    width: 428px;
    height: 320px;
    left: 0px;
    top: 120px;
    background-color: $colorAcento;

    #nosotros__presentación--enunciado{
        position: absolute;
        width: 357.52px;
        height: 112px;
        left: 35.48px;
        top: 88px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 29px;
        letter-spacing: 0.02em;

        color: #f2f2f7;
    }

    #nosotros__presentación--hr{
        position: absolute;
        width: 147.97px;
        left: 35px;
        top: 232px;

        background-color: #f2f2f7;
        border: 1px solid #f2f2f7;
    }

}

#nosotros__imagen{
    position: absolute;
    width: 358px;
    height: 264px;
    left: 35px;
    top: 488px;
    background-color: #c4c4c4;
}

#nosotros__parrafo{
    position: absolute;
    width: 358px;
    height: 176px;
    left: 35px;
    top: 776px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;

    color: #333333;
}

#nosotros__recuadro{
    position: absolute;
    width: 427px;
    height: 208px;
    left: 0px;
    top: 984px;

    background-color: #f2f2f7;
}

#nosotros__quote{
    position: absolute;
    width: 358px;
    height: 96px;
    left: 35px;
    top: 56px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 31px;
    letter-spacing: 0.02em;

    color: #333333;
}

#nosotros__imagen2{
    position: absolute;
    width: 358px;
    height: 264px;
    left: 35px;
    top: 1224px;

    background-color: #c4c4c4;
}

#nosotros__parrafo2{
    position: absolute;
    width: 358px;
    height: 136px;
    left: 35px;
    top: 1512px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;

    color: #333333;
}

#nosotros__botonProductos{
    position: absolute;
    width: 169px;
    height: 32px;
    left: 130px;
    top: 1672px;

    background-color: #414141;
    color: #f2f2f7;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
}